@if (crumbs.length) {
  <cds-breadcrumb [noTrailingSlash]="true">
    @for (crumb of crumbs; track crumb.text; let last = $last) {
    @if (!last && crumb.path !== null) {
    <cds-breadcrumb-item>
      <a
        [routerLink]="crumb.path"
        class="cd-breadcrumb-link"
      >
        {{ crumb.text }}
      </a>
    </cds-breadcrumb-item>
    } @else {
    <cds-breadcrumb-item data-testid="active-breadcrumb-item">
      {{ crumb.text }}
    </cds-breadcrumb-item>
    }
    }
  </cds-breadcrumb>
}
